* {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 90%;
  margin: auto;
}

div {
  margin: 20px 0px;
}

h2 {
  color: darkviolet;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

